@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

#scrollingMessage {
    background-color: #4b0082;
    color: white;
    padding: 10px;
    text-align: center;
}

.bg1 {
    background-image: url('https://wallpapers.com/images/hd/mix-color-pink-in-white-ot5cajb815543hsq.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.titlename {
    color: #4b0082;
    font-size: 20px;
    margin-bottom: 20px;
}

.but {
    background-color: burlywood;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
    border-style: dashed;
    border-width: 5px;
    border-radius: 5px;
}

.but:hover {
    background-color: #45a049;
}

#pageCreate, #loginPage {
    text-align: center;
}

.bg2 {
    background-image: url('https://tse2.mm.bing.net/th?id=OIP.jSaj1RNwSImbExgLMk1oVAHaCC&pid=Api&P=0&h=180');
    background-size: cover;
    text-align: center;
    height: 100vh;
    padding: 20px;
}

.heading1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
    color: goldenrod;
}